body {
	padding: 0;
	margin: 0;
}
//////////////////////////// basic settings
.main {
	position: relative;
}

.main > div {position: absolute;}

.face {
	left: 350px;
	top: 0;
	height: 160px;
	width: 182px;
}

.rings {
	top: 186px;
	left: 130px;
	width: 45px;
	height: 725px;
}

.text-work {
	top: 186px;
	left: 173px;
	width: 246px;
	height: 40px;
}

.frontEnd {
	top: 238px;
	left: 182px;
	width: 246px;
	height: 91px;
	border: 1px solid #E5E7E6;
	border-radius: 3px;
}

.webDev {
	top: 351px;
	left: 182px;
	width: 246px;
	height: 91px;
	border: 1px solid #E5E7E6;
	border-radius: 3px;
}

.Exc {
	top: 464px;
	left: 182px;
	width: 246px;
	height: 80px;
	border: 1px solid #E5E7E6;
	border-radius: 3px;
}

.text-education {
	top: 569px;
	left: 173px;
	width: 246px;
	height: 40px;
}

.atom {
	top: 621px;
	left: 182px;
	width: 246px;
	height: 91px;
	border: 1px solid #E5E7E6;
	border-radius: 3px;
}

.soft {
	top: 734px;
	left: 182px;
	width: 246px;
	height: 91px;
	border: 1px solid #E5E7E6;
	border-radius: 3px;
}

.comp {
	top: 848px;
	left: 182px;
	width: 246px;
	height: 80px;
	border: 1px solid #E5E7E6;
	border-radius: 3px;
}

.devSkills {
	top: 186px;
	left: 455px;
	width: 335px;
	height: 150px;
}

.desSkills {
	top: 351px;
	left: 455px;
	width: 335px;
	height: 122px;
}

.test {
	top: 503px;
	left: 455px;
	width: 335px;
	height: 24px;
}

.phil {
	top: 535px;
	left: 455px;
	width: 335px;
	height: 79px;
}

.cary {
	top: 625px;
	left: 455px;
	width: 335px;
	height: 66px;
}

.jason {
	top: 703px;
	left: 455px;
	width: 335px;
	height: 55px;
}

.down {
	top: 800px;
	left: 455px;
	width: 335px;
	height: 115px;
}

.view {
	top: 940px;
	left: 455px;
	width: 335px;
	height: 115px;
}
/////////////////////////////

///////////////////////////face
///////////photo 

.photo {position: relative;}

.photo > img {
	position: absolute;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	left: 50px;
	top: 10px;
}

.photo .name {
	position: absolute;
	width: 54px;
	height: 11px;
	left: 60px;
	top: 100px;
	font-size: 11px;
	font-family: Calibri;
	color: #AEB2B3;
}

.photo .yellow-text {
	position: absolute;
	width: 87px;
	height: 15px;
	left: 47px;
	top: 113px;
	font-size: 9px;
	color: grey;
	border-radius: 2px;
	background-color: #F9F266;
	text-align: center;
	vertical-align: middle;
}
///////////

//////////buttons

.buttons {position: relative;}

.buttons .about {
	position: absolute;
	width: 39px;
	height: 17px;
	left: 1px;
	top: 145px;
	border: 1px solid #E5E5E5;
	font-size: 8px;
	text-align: center;
	padding-top: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	color: #838788;
	font-family: Calibri;
}

.por {
	position: absolute;
	width: 36px;
	height: 17px;
	left: 44px;
	top: 145px;
	border: 1px solid #E5E5E5;
	font-size: 8px;
	text-align: center;
	padding-top: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	color: #838788;
	font-family: Calibri;
}

.contact {
	position: absolute;
	width: 34px;
	height: 17px;
	left: 84px;
	top: 145px;
	border: 1px solid #E5E5E5;
	font-size: 8px;
	text-align: center;
	padding-top: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	color: #838788;
	font-family: Calibri;
}

.blog {
	position: absolute;
	width: 25px;
	height: 17px;
	left: 122px;
	top: 145px;
	border: 1px solid #E5E5E5;
	font-size: 8px;
	text-align: center;
	padding-top: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	color: #838788;
	font-family: Calibri;
}

.resume {
	position: absolute;
	width: 34px;
	height: 17px;
	left: 151px;
	top: 145px;
	border: 1px solid #E5E5E5;
	font-size: 8px;
	text-align: center;
	padding-top: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	color: white;
	font-family: Calibri;
	background-color: #34454F;
}

///////////
//////////////////////////////


///////////////////////////////////////rings

.forms {position: relative;}

.forms .vial {
	border: 2px solid #DFE1E0;
	position: absolute;
	border-radius: 50%;
	width: 40px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
}

.stick-1 {
	position: absolute;
	width: 2px;
	height: 42px;
	background: #DFE0E2;
	left: 48%;
	top: 43px;
}

.forms .d2012 {
	border: 2px solid #29333D;
	position: absolute;
	border-radius: 50%;
	width: 36px;
	height: 23px;
	text-align: center;
	padding-top: 13px;
	top: 84px;
	left: 2px;
	background-color: #334257;
	font-size: 9px;
	color: white;
	font-family: Calibri;
	font-weight: bold;
}

.forms .stick-2 {
	position: absolute;
	width: 2px;
	height: 79px;
	background: #DFE0E2;
	left: 48%;
	top: 126px;
}

.forms .d2010 {
	border: 2px solid #61B881;
	position: absolute;
	border-radius: 50%;
	width: 28px;
	height: 20px;
	text-align: center;
	padding-top: 8px;
	top: 204px;
	background-color: #5ACE7B;
	font-size: 9px;
	color: white;
	font-family: Calibri;
	font-weight: bold;
	left: 6px;
}

.forms .stick-3 {
	position: absolute;
	width: 2px;
	height: 65px;
	background: #DFE0E2;
	left: 48%;
	top: 238px;
}

.forms .d2006 {
	border: 2px solid #61B881;
	position: absolute;
	border-radius: 50%;
	width: 28px;
	height: 20px;
	text-align: center;
	padding-top: 8px;
	top: 304px;
	background-color: #5ACE7B;
	font-size: 9px;
	color: white;
	font-family: Calibri;
	font-weight: bold;
	left: 6px;
}

.forms .d2006 > span {
	z-index: 10;
	position: relative;
}

.forms .stick-4 {
	position: absolute;
	width: 2px;
	height: 48px;
	background: #DFE0E2;
	left: 48%;
	top: 338px;
}

.forms .hat {
	border: 2px solid #DFE1E0;
	position: absolute;
	border-radius: 50%;
	width: 40px;
	height: 27px;
	text-align: center;
	padding-top: 13px;
	top: 385px;
}

.forms .stick-5 {
	position: absolute;
	width: 2px;
	height: 39px;
	background: #DFE0E2;
	left: 48%;
	top: 428px;
}

.forms .d2002 {
	border: 2px solid #61B881;
	position: absolute;
	border-radius: 50%;
	width: 28px;
	height: 20px;
	text-align: center;
	padding-top: 8px;
	top: 470px;
	background-color: #5ACE7B;
	font-size: 9px;
	color: white;
	font-family: Calibri;
	font-weight: bold;
	left: 6px;
}

.forms .stick-6 {
	position: absolute;
	width: 2px;
	height: 78px;
	background: #DFE0E2;
	left: 48%;
	top: 505px;
}

.forms .d2010-2 {
	border: 2px solid #61B881;
	position: absolute;
	border-radius: 50%;
	width: 28px;
	height: 20px;
	text-align: center;
	padding-top: 8px;
	top: 585px;
	background-color: #5ACE7B;
	font-size: 9px;
	color: white;
	font-family: Calibri;
	font-weight: bold;
	left: 6px;
}
.forms .d2010-2 > span {
	z-index: 10;
	position: relative;
}

.forms .stick-7 {
	position: absolute;
	width: 2px;
	height: 68px;
	background: #DFE0E2;
	left: 48%;
	top: 620px;
}

.forms .d2006-2 {
	border: 2px solid #61B881;
	position: absolute;
	border-radius: 50%;
	width: 28px;
	height: 20px;
	text-align: center;
	padding-top: 8px;
	top: 690px;
	background-color: #5ACE7B;
	font-size: 9px;
	color: white;
	font-family: Calibri;
	font-weight: bold;
	left: 6px;
}
.forms .d2006-2 > span {
	z-index: 10;
	position: relative;
}

////////////////////////////////////////


////////////////////////////////////TEXT-WORK 

.text {position: relative;}

.text > span {
	position: absolute;
	left: 10px;
	top: 12px;
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
}

//////////////////////////////////////

/////////////////////////////////////frontEnd + WEBDEV

.help1 {position: relative;}

.head {
	position: absolute;
	font-size: 10px;
	font-family: Calibri;
	left: 14px;
	top: 13px;
	color: #888C8D;
}

.under-head {
	position: absolute;
	font-size: 8px;
	font-family: Calibri;
	left: 14px;
	top: 26px;
	color: lightgrey;
}

.general-text {
	position: absolute;
	font-size: 8px;
	font-family: Calibri;
	left: 14px;
	top: 45px;
	color: #888C8D;
	width: 210px;
	text-align: justify;
}

////////////////////////////////////

////////////////////////////////////devSkills
//////////////////////////////////*/img /+ header + line*/

.help2 {position: relative;}

.help2 > img {
	position: absolute;
	left: 0;
	top: 10px;
	border-radius: 50%;
	border: 2px solid #DBDBDD;
	padding: 4px;
}

.help2 > span {
	position: absolute;
	left: 30px;
	top: 15px;
	font-family: Calibri;
	font-size: 9px;
	color: #7F8384;
}

.help2 > div {
	position: absolute;
	width: 180px;
	height: 2px;
	left: 120px;
	top: 21px;
	background-color: #E7EBEC;
}
////////////////////////

//////////////////////bars

.bars {	position: relative;} 

.bar1 {
	position: absolute;
	width: 292px;
	height: 18px;
	top: 45px;
	background-color: #BEEBCB;
	border-radius: 2px;
}

.inside1 {
	width: 100%;
	height: 11px;
	background-color: #5BCE80;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: white;
	padding: 3px;
	border-radius: 2px;
	padding-left: 5px;
}

.full {
	position: absolute;
	left: 310px;
	top: 47px;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: #5BCE80;
}

.bar2 {
	position: absolute;
	width: 300px;
	height: 18px;
	top: 73px;
	background-color: #BEEBCB;
	border-radius: 2px;
}

.inside2 {
	width: 47%;
	height: 11px;
	background-color: #5BCE80;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: white;
	padding: 3px;
	border-radius: 2px;
	padding-left: 5px;
}

.fourty7 {
	position: absolute;
	left: 310px;
	top: 75px;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: #5BCE80;
}

.bar3 {
	position: absolute;
	width: 298px;
	height: 18px;
	top: 102px;
	background-color: #BEEBCB;
	border-radius: 2px;
}

.inside3 {
	width: 62%;
	height: 11px;
	background-color: #5BCE80;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: white;
	padding: 3px;
	border-radius: 2px;
	padding-left: 5px;
}

.sixty2 {
	position: absolute;
	left: 310px;
	top: 104px;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: #5BCE80;
}

.bar4 {
	position: absolute;
	width: 290px;
	height: 18px;
	top: 131px;
	background-color: #BEEBCB;
	border-radius: 2px;
}

.inside4 {
	width: 100%;
	height: 11px;
	background-color: #5BCE80;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: white;
	padding: 3px;
	border-radius: 2px;
	padding-left: 5px;
}

.full2 {
	position: absolute;
	left: 310px;
	top: 133px;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: #5BCE80;
}

/////////////////////////
////////////////////////////////////////////


/////////////////////////////////////////design skills
////////////////////////////////*img header + line*/
.help3 {position: relative;}

.help3 > img {
	position: absolute;
	left: 0;
	top: 10px;
	border-radius: 50%;
	border: 2px solid #DBDBDD;
	padding: 4px;
}

.help3 > span {
	position: absolute;
	left: 30px;
	top: 15px;
	font-family: Calibri;
	font-size: 9px;
	color: #7C807F;
}

.help3 > div {
	position: absolute;
	width: 207px;
	height: 2px;
	left: 91px;
	top: 21px;
	background-color: #E7EBEC;
}
//////////////////

///////////////////bars three things

.bars-three {position: relative;}

.bars-three .cross1 {
	position: absolute;
	width: 298px;
	height: 18px;
	top: 44px;
	background-color: #BEEBCB;
	border-radius: 2px;
}

.bars-three .internal1 {
	width: 91%;
	height: 11px;
	background-color: #5BCE80;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: white;
	padding: 3px;
	border-radius: 2px;
	padding-left: 5px;
}

.bars-three .ninty1 {
	position: absolute;
	left: 310px;
	top: 47px;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: #5BCE80;
}

.bars-three .cross2 {
	position: absolute;
	width: 298px;
	height: 18px;
	top: 73px;
	background-color: #BEEBCB;
	border-radius: 2px;
}

.bars-three .internal2 {
	width: 53%;
	height: 11px;
	background-color: #5BCE80;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: white;
	padding: 3px;
	border-radius: 2px;
	padding-left: 5px;
}

.bars-three .fiftyy7 {
	position: absolute;
	left: 310px;
	top: 77px;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: #5BCE80;
}

.bars-three .cross3 {
	position: absolute;
	width: 298px;
	height: 18px;
	top: 102px;
	background-color: #BEEBCB;
	border-radius: 2px;
}

.bars-three .internal3 {
	width: 31%;
	height: 11px;
	background-color: #5BCE80;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: white;
	padding: 3px;
	border-radius: 2px;
	padding-left: 5px;
}

.bars-three .thirty1 {
	position: absolute;
	left: 310px;
	top: 106px;
	font-size: 9px;
	font-weight: bold;
	font-family: Calibri;
	color: #5BCE80;
}

///////////////////////////
//////////////////////////////////////////

//////////////////////////////////testimonials

.help4 {position: relative;}

.help4 > img {
	position: absolute;
	left: 0;
	border-radius: 50%;
	border: 2px solid #DBDBDD;
	padding: 4px;
}

.help4 > span {
	position: absolute;
	left: 30px;
	font-family: Calibri;
	font-size: 9px;
	top: 5px;
	color: #7C807F;
}

.help4 > div {
	position: absolute;
	width: 207px;
	height: 2px;
	left: 91px;
	top:11px;
	background-color: #E7EBEC;
}

///////////////////////////////////////


/////////////////////////////////creating boys

.sup {position: relative;}

.grey-phil {
	position: absolute;
	left: 0;
	top: 9px;
	background-color: #EEF2F5;
	width: 298px;
	height: 70px;
	border-radius: 3px;
}

.phil-name {
	position: relative;
	top: 10px;
	font-family: Calibri;
	font-size: 11px;
	padding-left: 15px;
	color: #7C8187;
}

.dop-text {
	position: relative;
	top: 10px;
	font-family: Calibri;
	font-size: 10px;
	padding-left: 5px;
	color: #C3C7CA;
}

.gen-text {
	position: relative;
	top: 8px;
	padding-top: 5px;
	font-family: Calibri;
	font-size: 8px;
	color: #7C8187;
	padding-left: 15px;
}

.img-phil {position: relative;}

.img-phil > img {
	position: absolute;
	left: 260px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 5px solid white;
	top: -2px;
}
///////////////////////////////

///////////////////////////////download 

.download {position: relative;}

.download > img {
	position: absolute;
	border: 2px solid #DDE1E2;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	padding: 4px;
}

.download #header {
	position: absolute;
	left: 30px;
	font-size: 9px;
	font-family: Calibri;
	top: 5px;
	color: #929395;
}

.block {
	position: absolute;
	left: 112px;
	top: 11px;
	width: 188px;
	height: 2px;
	background-color:  #929395;
}

#sp-text {
	position: absolute;
	top: 33px;
	font-family: Calibri;
	font-size: 9px;
	color: #6F7072;
	width: 290px;
}

#but {
	position: absolute;
	top: 81px;
	border: 2px solid #ECF0F1;
	font-family: Calibri;
	font-size: 10px;
	width: 99px;
	height: 20px;
	border-radius: 2px;
	color: #808080;
	text-align: center;
	padding-top: 5px;
}

//////////////////////////////////