////////////////////////////////////////////////////////general part
body {font-family: Calibri;}

.main {
	position: relative;
	background: #EAEDF1;
	width: 600px;
	height: 700px;
}

.main > div {
	position: absolute;
}

.face,
.icons,
.direct,
.secret,
.cortix,
.ademe,
.impec {background: white;}

.yelp,
.ecole,
.qoqa, 
.cefire {background: #DAE1E9;}

.face {
	left: 35px;
	top: 35px;
	width: 185px;
	height: 110px;
}

.direct {
	right: 35px;
	top: 35px;
	width: 310px;
	height: 110px;
}

.secret {
	left: 35px;
	width: 260px;
	height: 130px;
	top: 160px;
}

.cortix {
	left: 35px;
	width: 260px;
	height: 130px;
	top: 305px;
}

.ademe {
	left: 35px;
	top: 450px;
	width: 260px;
	height: 65px;
}

.impec {
	left: 35px;
	top: 530px;
	width: 260px;
	height: 65px;
}

.stick-ver {
	width: 27px;
	height: 480px;
	padding-left: 299px;
	padding-top: 160px;
}

.stick-gor {
	width: 235px;
	height: 3px;
	background: #EAEDF2;
	border-bottom: 1px dotted lightgrey;
	right: 35px;
	top: 315px;
}

.yelp {
	right: 35px;
	width: 235px;
	height: 65px;
	top: 160px;
}

.qoqa {
	right: 35px;
	width: 235px;
	height: 65px;
	top: 240px;
}

.cefire {
	right: 35px;
	width: 235px;
	height: 55px;
	top: 335px;
}

.ecole {
	right: 35px;
	width: 235px;
	height: 55px;
	top: 405px;
}

.icons {
	right: 35px;
	bottom: 65px;
	width: 235px;
	height: 160px;
}

.footer {
	left: 140px;
	bottom: 0px;
	width: 400px;
	height: 40px;
	font-size: 10px;
	color: grey;
}

i {padding: 7px;}
/////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////Face + photo (left part)
.photo {
	position: relative;
}

#photo {
	position: absolute;
	width: 50px;
	left: 15px;
	top: 10px;
}

.face .name {
	font-size: 13px;
	margin-left: 83px;
	margin-top: 27px;
	font-family: Calibri;
}

.face .name span {
	font-size: 8px;
}

.blue,
.red,
.green,
.dark {
	width: 46.25px;
	height: 37px;
	display: inline-block;
	margin-top: 15px;
	margin-right: -4px;
	position: relative;
	color: white;
}

.blue {
	background: #17C4EC;
	padding-left: 0;
}

.red {
	background: #F95353;
}

.green {
	background: #0FCDC1;
}

.dark {
	background: #334960;
}

.blue > span,
.red > span,
.green > span,
.dark > span{
	font-size: 8px;
	position: absolute;
	top: 19px;
}

.eye,
.flag,
.car,
.sigarete {
	height: 10px;
	width: 10px;
	top: 8px;
	left: 18px;
	position: absolute;
}

.blue > span {
	left: 12px;
	font-size: 6px;
	position: absolute;
	top: 19px;
}

.red > span {
	left: 5px;
	font-size: 6px;
	position: absolute;
	top: 19px;
}

.green > span {
	font-size: 6px;
	position: absolute;
	top: 19px;
	left: 10px;
}

.dark > span {
	left: 17px;
	font-size: 6px;
	position: absolute;
	top: 19px;
}
////////////////////////////////////////////////////////

//////////////////////////////////////////////direct
////////////////headeer +textt
.direct .header {
	position: relative;
}

.header > div {
	position: absolute;
	font-size: 15px;
	left: 10px;
	top: 15px;
	font-family: Calibri;
}

.header div > .text {
	left: 15px;
	top: 22px;
	font-size: 8px;
	font-weight: normal;		 
	text-align: justify;
	padding-top: 5px;
	line-height: 10px;
	color: grey;
}

.text > span {color: #67B9CF;}

//////////sites

.sites {position: relative;}

.sites > div {
	position: absolute;
	left: 185px;
	top: 43px;
	font-size: 10px;
	font-family: Calibri;
}

.site-red {
	line-height: 20px;
	color: #E19C9F;
	font-size: 11px;
}

///////////////////////////////////////////////

///////////////////////social chat and so on

.social {position: relative;}

.social-bird > img {
	margin-left: 5px;
	top: 89px;
	width: 15px;
	position: absolute;
}

.social-ball > img {
	top: 87px;
	padding-left: 35px;
	width: 17px;
	position: absolute;
}

.social-b > img {
	top: 88px;
	padding-left: 65px;
	width: 15px;
	position: absolute;
}

.social-camera > img {
	top: 87px;
	padding-left: 95px;
	width: 15px;
	position: absolute;
}

.social-drop > img {
	top: 87px;
	padding-left: 125px;
	width: 15px;
	position: absolute;
}

.social-n > img {
	top: 87px;
	padding-left: 155px;
	width: 15px;
	position: absolute;
}
////////////////////////////////////////////////////////////

///////////////////////secret part + cortix part + (ademe part without list)
////////////////////////top
.top-secret-cortix {position: relative;}

#bold-text {
	position: absolute;
	left: 10px;
	top: 10px;
	font-weight: bold;
	font-size: 11px;
	font-family: Calibri;
}

#grey-text {
	position: absolute;
	left: 75px;
	top: 12px;
	font-size: 8px;
	color: lightgrey;
	font-family: Calibri;
}

#blue-text {
	position: absolute;
	left: 10px;
	top: 25px;
	font-size: 9px;
	color: #6ECABF;
	font-family: Calibri;
}
////////////////////////////////
////////////////////list

.list {	position: relative;}

.list-secret-cortix {
	list-style: none;
	font-size: 7px;
	position: absolute;
	left: -16px;
	top: 35px;
	line-height: 12px;
	font-family: Calibri;
	color: grey;
}

.list-secret-cortix li img {
	width: 10px;
	vertical-align: bottom;
	padding-right: 3px;
	margin-left: -10px;
}
///////////////////////
///////////////bootom secret

.bottom-secret-cortix {position: relative;}

.bottom-left-s-c {
	position: absolute;
	left: 15px;
	top: 95px;
}

.bottom-left-s-c img{
	width: 5px;
}

.bottom-left-s-c span {
	font-size: 7px;
	padding-left: 5px;
	vertical-align: middle;
	color: lightgrey; 
	font-family: Calibri;
}

.bottom-reload {
	position: absolute;
	left: 45px;
	top: 95px;
	margin-left: 20px;
}

.bottom-reload img{
	width: 13px;
	vertical-align: middle;
}

.bottom-reload span {
	font-size: 7px;
	padding-left: 5px;
	padding-right: 40px;
	vertical-align: middle;
	color: lightgrey; 
	font-family: Calibri;
}

.button input{
	position: absolute;
	border: none;
	background-color: #1AC3EA;
	left: 160px;
	top: 100px;
	font-size: 7px;
	padding: 3px 12px;
	border-radius: 1px;
	color: white;
	font-family: Calibri;
}
///////////////////////////////////

///////////////icons + progressbars
///// tv
.tv {position: relative;}

.tv > img {
	position: absolute;
	width: 27px;
	left: 10.5px;
	top: 10px;
}

.tv > span {
	position: absolute;
	left: 11px;
	top: 42px;
	font-size: 5px;
	color: grey;
}

//////////

/////// плёнка

.pl {position: relative;}

.pl > img {
	position: absolute;
	width: 27px;
	left: 48px;
	top: 10px;
}

.pl > span {
	position: absolute;
	left: 52px;
	top: 42px;
	font-size: 5px;
	color: grey;
}

//////

/////// headers

.headers {position: relative;}

.headers > img {
	position: absolute;
	width: 27px;
	left: 85.5px;
	top: 10px;
}

.headers > span {
	position: absolute;
	left: 87px;
	top: 42px;
	font-size: 5px;
	color: grey;
}

//////

//////stone

.stone {position: relative;}

.stone > img {
	position: absolute;
	width: 27px;
	left: 123px;
	top: 10px;
}

.stone > span {
	position: absolute;
	left: 124px;
	top: 42px;
	font-size: 5px;
	color: grey;
}

////

/////things

.things {position: relative;}

.things > img {
	position: absolute;
	width: 27px;
	left: 160.5px;
	top: 10px;
}

.things > span {
	position: absolute;
	left: 161px;
	top: 42px;
	font-size: 5px;
	color: grey;
}

////

////plane

.plane {position: relative;}

.plane > img {
	position: absolute;
	width: 27px;
	left: 200px;
	top: 10px;
}

.plane > span {
	position: absolute;
	left: 203px;
	top: 42px;
	font-size: 5px;
	color: grey;
}

////////

/////////// bars
/////////prestashop
.bars-1 {position: relative;}

.bars-1 .bar-presta,
.bars-1 .prestashop,
.procent-presta,
.bars .bar-word,
.bars .wordpress,
.procent-word {
	position: absolute;
	left: 10px;
}

.bars-1 .bar-presta {
	top: 138px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-1 .prestashop {
	top: 122px;
	font-size: 7px;
	color: grey;
}

.bar-presta div {
	background-color: #11CCC1;
	width: 85%;
	height: 100%;
	border-radius: 10px;
}

.procent-presta {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	left: 84px;
	top: 128px;
	font-size: 6px;
	color: white;
	text-align: center;
}

///////////

//////word

.bars-2 {position: relative;}

.bars-2 .bar-word,
.bars-2 .wordpress,
.procent-word {
	position: absolute;
	left: 10px;
}

.bars-2 .bar-word {
	top: 117px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-2 .wordpress {
	top: 101px;
	font-size: 7px;
	color: grey;
}

.bar-word div {
	background-color: #11CCC1;
	width: 95%;
	height: 100%;
	border-radius: 10px;
}

.procent-word {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	left: 95px;
	top: 107px;
	font-size: 6px;
	color: white;
	text-align: center;
}

//////

//////////illustrator

.bars-3 {position: relative;}

.bars-3 .bar-ill,
.bars-3 .illustrator,
.procent-ill {
	position: absolute;
	left: 10px;
}

.bars-3 .bar-ill {
	top: 96px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-3 .illustrator {
	top: 80px;
	font-size: 7px;
	color: grey;
}

.bar-ill div {
	background-color: #11CCC1;
	width: 55%;
	height: 100%;
	border-radius: 10px;
}

.procent-ill {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	left: 55px;
	top: 86px;
	font-size: 6px;
	color: white;
	text-align: center;
}

///////

//////////photoshop

.bars-4 {position: relative;}

.bars-4 .bar-photo,
.bars-4 .photoshop,
.procent-photo {
	position: absolute;
	left: 10px;
}

.bars-4 .bar-photo {
	top: 75px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-4 .photoshop {
	top: 59px;
	font-size: 7px;
	color: grey;
}

.bar-photo div {
	background-color: #11CCC1;
	width: 80%;
	height: 100%;
	border-radius: 10px;
}

.procent-photo {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	left: 80px;
	top: 65px;
	font-size: 6px;
	color: white;
	text-align: center;
}

////////

/////////referencenment

.bars-5 {position: relative;}

.bars-5 .bar-ref,
.bars-5 .ref,
.procent-ref {
	position: absolute;
	right: 10px;
}

.bars-5 .bar-ref {
	top: 75px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-5 .ref {
	top: 59px;
	font-size: 7px;
	color: grey;
	left: 125px;
}

.bar-ref div {
	background-color: #17C4EE;
	width: 60%;
	height: 100%;
	border-radius: 10px;
}

.procent-ref {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	right: 45px;
	top: 65px;
	font-size: 6px;
	color: white;
	text-align: center;
}

/////////

///////////reseaux

.bars-6 {position: relative;}

.bars-6 .bar-res,
.bars-6 .res,
.procent-res {
	position: absolute;
	right: 10px;
}

.bars-6 .bar-res {
	top: 96px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-6 .res {
	top: 80px;
	font-size: 7px;
	color: grey;
	left: 125px;
}

.bar-res div {
	background-color: #17C4EE;
	width: 55%;
	height: 100%;
	border-radius: 10px;
}

.procent-res {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	right: 50px;
	top: 86px;
	font-size: 6px;
	color: white;
	text-align: center;
}

///////////

/////////ui design

.bars-7 {position: relative;}

.bars-7 .bar-ui,
.bars-7 .ui,
.procent-ui {
	position: absolute;
	right: 10px;
}

.bars-7 .bar-ui {
	top: 117px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-7 .ui {
	top: 101px;
	font-size: 7px;
	color: grey;
	left: 125px;
}

.bar-ui div {
	background-color: #17C4EE;
	width: 55%;
	height: 100%;
	border-radius: 10px;
}

.procent-ui {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	right: 50px;
	top: 107px;
	font-size: 6px;
	color: white;
	text-align: center;
}

//////////

////////user experience

.bars-8 {position: relative;}

.bars-8 .bar-user,
.bars-8 .user,
.procent-user {
	position: absolute;
	right: 10px;
}

.bars-8 .bar-user {
	top: 138px;
	width: 100px;
	height: 6px;
	background-color: lightgrey;
	border-radius: 10px;
}

.bars-8 .user {
	top: 122px;
	font-size: 7px;
	color: grey;
	left: 125px;
}

.bar-user div {
	background-color: #17C4EE;
	width: 60%;
	height: 100%;
	border-radius: 10px;
}

.procent-user {
	width: 15px;
	height: 8px;
	background-color: #33475F;
	border-radius: 2px;
	right: 45px;
	top: 128px;
	font-size: 6px;
	color: white;
	text-align: center;
}

//////